*{
	padding: 0;
	margin: 0;
}
body{
	background: #3e402d;
	background-size: cover;
	font-family: Arial, sans-serif;
	color: #d9ae5f;
}
img{
	width: 30%;
}
.social{
	width: 40px;
	padding: 10px;
	margin-top: 10px;
}
.search{
	text-align: center;
	padding: 20px;
	font-size: 25px;
}
a{
	text-decoration: none;
	color: #8c452b;
	font-weight: bold;
}
#slogan{
	font-style: italic;
	text-align: center;
}
h1{
	font-size: 70px;
	color: #d9bb62;
	padding: 20px;
	font-style: bold;
}
aside{
	float: right;
}
footer{
	margin-top: 30px;
	text-align: center;
}